In [1]:
print("Kernel is working")

Kernel is working

In [2]:
!pip install pyodbc pandas matplotlib seaborn

Requirement already satisfied: pyodbc in c:\users\acer\anaconda3\lib\site-packages (5.3.0)
Requirement already satisfied: pandas in c:\users\acer\anaconda3\lib\site-packages (2.3.3)
Requirement already satisfied: matplotlib in c:\users\acer\anaconda3\lib\site-packages (3.10.6)
Requirement already satisfied: seaborn in c:\users\acer\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: six>=1.5 in c:\users\acer\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pyodbc
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=LAPTOP-4JAFNCU9\SQLEXPRESS;"
    "DATABASE=LegoDWH;"
    "Trusted_Connection=yes;"
)

print("Connected to SQL Server")

InterfaceError: ('28000', '[28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user \'LAPTOP-4JAFNCU9\\acer\'. (18456) (SQLDriverConnect); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot open database "LegoDWH" requested by the login. The login failed. (4060); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user \'LAPTOP-4JAFNCU9\\acer\'. (18456); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot open database "LegoDWH" requested by the login. The login failed. (4060)')

In [5]:
conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=LAPTOP-4JAFNCU9\SQLEXPRESS;"
    "DATABASE=DWH;"
    "Trusted_Connection=yes;"
)

print("Connected to SQL Server")

Connected to SQL Server

In [6]:
query = """
SELECT
    dc.Name AS Category,
    dco.Name AS Color,
    fp.Nr_of_Parts
FROM Fact_Parts fp
JOIN Dim_Category dc ON fp.Category_ID = dc.ID
JOIN Dim_Color dco ON fp.Color_ID = dco.ID
"""
df = pd.read_sql(query, conn)
df.head()

C:\Users\acer\AppData\Local\Temp\ipykernel_9936\678254005.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

                  Category          Color  Nr_of_Parts
0  Projectiles / Launchers  Reddish Brown           47
1        Windows and Doors          White           50
2        Windows and Doors          Green            2
3         Wheels and Tyres         Orange            2
4           Bricks Special          White            7

In [7]:
df.groupby("Category")["Nr_of_Parts"].sum().sort_values(ascending=False).head(10)

Category
Wheels and Tyres               190322
Plates Special                 148574
Tiles                          136476
Windows and Doors              125863
Technic Bushes                 116256
Bricks Sloped                   79540
Bricks Round and Cones          74636
Technic Pins                    71730
Tiles Special                   64736
Hinges, Arms and Turntables     60024
Name: Nr_of_Parts, dtype: int64